body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.grid-container{

    display: grid;
    width: fit-content;
    height: fit-content;
    background-color: #303130;
    grid-gap: 5px;
}

.cell{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.safe{
    background-color: #6eff35;
}

.mine{
    background-color: #FF4747;
}

.near{
    background-color: #d2ac0c;
}

.hidden{
    opacity: 0.4;
    background-color: #c4c4c4;
}

.visible{
    opacity: 1;
}

#overlay {
    display: none; z-index: 99;
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
}

#to-cover{
    position: relative;
}
