body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Segoe UI Black", serif;
    background: #303130;
}

.grid-container{

    display: grid;
    width: fit-content;
    height: fit-content;
    background-color: #303130;
    grid-gap: 5px;
}

.safe, .near{
    font-size: 30px;
    font-family: fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.safe{
    background-color: #303130;
}

.near{
    background-color: #303130;
}

.mine{
    background-color: #FF4747;
}

.n1{
    color: #44A2E5;
}
.n2{
    color: #37FF4B;
}
.n3{
    color: #FF4747;
}
.n4{
    color: #E537B4;
}
.n5{
    color: #ffda00;
}

.cell{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hidden{
    opacity: 0.4;
    background-color: #5D5D5D;
}

.visible{
    opacity: 1;
}

#overlay {
    display: none; z-index: 99;
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background: rgba(0, 0, 0, 0.5);
}

#to-cover{
    position: relative;
}

.commands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
}

#stats{
    text-align: center;
    width: 30%;
}

#btn-container {
    display: flex;
    flex-direction: column;
}

#level {
    width: 30%;
}

.commands-element{
    padding: 0 5px;
    color: #ffffff;
}


/* PLAY BUTTON */
.btn {
    color: white;
    padding: 10px 25px;
    border: 2px solid #ffffff;
    background: #303130;
    transition: all 0.3s ease;
    font-family: "Segoe UI Black", serif;
}

.btn:hover {
    color: #303130;
    background: #ffffff;
}

/* RADIO BUTTONS MENU */

#level label {
    display: flex;
}

/* GITHUB LINK */
/* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

a::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;

    background-color: #ffffff;

    transform: scaleX(0);
    transition: transform 0.3s;
    content: "";
}

a:hover::before {
    transform: scaleX(1);
}
